@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white bg-dark-800 text-lg;
}

.hoverPrimary {
  @apply hover:text-primary transition-colors duration-300;
}

.hoverSecondary {
  @apply hover:text-gray-200 transition-colors duration-300;
}

input[type="file"] {
  display: none;
}

label[for="file-input"] {
  display: inline-block;
  background-color: #f97316;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

label[for="file-input"]:hover {
  background-color: #ea580c;
}
